/__pycache__
src/__pycache__/
.swp
/.ipynb_checkpoints
/venv
/SearchAgent/.vs
/SearchAgent/.vscode
/SearchAgent/SearchAgent/.vscode
#Pycharm
.idea
*.iml
.python-version


t.py

t2.py
dist
SearchAgent/.vs/
SearchAgent/x64/
SearchAgent/SearchAgent/x64/
/.mypy_cache/